*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 18px;
  line-height: 30px;
  font-family: "Barlow", sans-serif;
  letter-spacing: -0.13px;
  color: #818498;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto; }

h1,
h2,
h3,
h4 {
  font-family: "Fraunces", serif;
  font-weight: 900; }

h1 {
  font-size: 56px;
  line-height: 69.05px;
  color: white;
  letter-spacing: 8.75px;
  text-transform: uppercase; }
  @media (max-width: 700px) {
    h1 {
      font-size: 40px;
      line-height: 49.32px;
      letter-spacing: 6.25px; } }

h2 {
  color: #5a636c; }

.heading--lg {
  font-size: 32px;
  font-size: clamp(32px, 2.5vw, 40px);
  line-height: 49.32px;
  letter-spacing: -0.29px; }
  @media (max-width: 900px) {
    .heading--lg {
      font-size: 32px;
      line-height: 39.46px;
      letter-spacing: -0.23px; } }

.heading--sm {
  font-size: 28px;
  line-height: 34.52px;
  letter-spacing: -0.2px; }

h3 {
  font-size: 20px;
  line-height: 24.66px;
  letter-spacing: 5px;
  color: #a7abae;
  text-transform: uppercase;
  margin-bottom: 2.5em; }
  @media (max-width: 700px) {
    h3 {
      font-size: 16px;
      line-height: 19.73px;
      letter-spacing: 4px; } }

h4 {
  font-size: 18px;
  line-height: 22.19px;
  letter-spacing: -0.13px;
  color: #23303e; }

.text--sm {
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.11px; }

small {
  font-size: 14px;
  line-height: 25px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #a7abae; }

a {
  line-height: 25px;
  text-decoration: none;
  color: white; }

li {
  cursor: pointer;
  list-style-type: none; }

li:hover {
  opacity: 0.9; }

li.contact {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #23303e;
  letter-spacing: -0.11px;
  border-radius: 28px;
  padding: 0.8em 1em;
  background-color: white; }

li.contact:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.25); }

li.dark {
  color: #19536b; }

li.dark:hover {
  color: white; }

img {
  max-width: 100%;
  display: block; }

.flex {
  display: flex;
  width: 100%; }

.col {
  flex-direction: column; }

button {
  border: none;
  background-color: transparent; }

.btn {
  display: inline-block;
  width: max-content;
  border-radius: 28px;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #23303e;
  position: relative;
  cursor: pointer; }

.btn::after {
  content: "";
  position: absolute;
  inset: 0.9rem 5% 0 -5%;
  width: 110%;
  height: 10px;
  border-radius: 25px;
  z-index: -1; }

.btn--yellow::after {
  background-color: rgba(250, 212, 0, 0.25); }

.btn--yellow:hover.btn--yellow::after,
.btn--yellow:active.btn--yellow::after {
  background-color: #fad400; }

.btn--red::after {
  background-color: rgba(254, 119, 102, 0.25); }

.btn--red:hover.btn--red::after,
.btn--red:active.btn--red::after {
  background-color: #fe7867; }

.ml {
  margin: 0 5% 0 20%; }
  @media (max-width: 900px) {
    .ml {
      margin: 0.6rem; } }

.mr {
  margin-right: 0 20% 0 5%; }
  @media (max-width: 900px) {
    .mr {
      margin: 0.6rem; } }

.nav {
  max-width: 1352px;
  margin: 0 auto;
  padding: 0 2em;
  position: absolute;
  inset: 34px 0 auto 0;
  color: white; }
  .nav__logo {
    padding: 1em 0; }
  .nav__list {
    justify-content: flex-end;
    align-items: center;
    color: white; }
  .nav__item + li {
    margin: 0 0 0 2.5em; }
  .nav__toggle {
    padding: 0.2rem 0;
    margin: 1rem 0;
    display: none;
    cursor: pointer; }
  .nav__modal {
    display: none; }
  @media (max-width: 700px) {
    .nav__list {
      display: none; }
    .nav__toggle {
      display: inline-block;
      margin: 1rem 0 1rem auto; }
    .nav__modal {
      position: absolute;
      inset: 3rem 2rem auto 2rem;
      width: auto;
      opacity: 0;
      display: flex;
      background-color: white;
      color: #458c7e;
      border-top: 25px solid #3ebfff;
      border-right: 25px solid white;
      padding: 2rem 0;
      transition: opacity 0.2s linear; }
    .nav__modal.open {
      opacity: 1; }
    .nav__list--modal {
      align-items: center; }
    .nav__item--modal {
      margin: 0 auto 1rem; }
    .nav__item--modal.contact {
      background-color: #fad400; }
    .nav__item--modal.contact:hover {
      background-color: #23303e; } }

.hero {
  background-image: url(../images/desktop/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 800px;
  width: 100%;
  text-align: center; }
  .hero__heading {
    margin: 4em auto 2em; }
  .hero__arrow {
    width: 30px;
    margin: 0 auto; }

.content__text-box, .content__img-box {
  flex: 1; }

.content__text-box {
  justify-content: center;
  align-items: center; }

.content__text-box--left, .content__text-box--right {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 600px;
  align-items: flex-end; }

.content__text-box--left {
  background-image: url(../images/desktop/image-graphic-design.jpg);
  color: #458c7e; }

.content__text-box--right {
  background-image: url(../images/desktop/image-photography.jpg);
  color: #19536b; }

.content__text-wrapper {
  max-width: 43ch; }

.content__text-wrapper--last {
  text-align: center;
  align-items: center;
  max-width: 33ch; }

.content__heading--left {
  color: #458c7e; }

.content__heading--right {
  color: #19536b; }

.content__text {
  padding: 2rem 0; }
  @media (max-width: 900px) {
    .content__text {
      padding: 0.5rem 0; } }

.content__text.text--sm {
  padding: 2rem 0 3rem 0; }

@media (max-width: 700px) {
  .content__yellow {
    flex-direction: column-reverse; }
  .content__red, .content__last {
    flex-direction: column; }
  .content__text-box {
    padding: 2rem 1rem;
    text-align: center;
    align-items: center; }
  .content__btn {
    margin: 0 auto; }
  .content__text-box--left, .content__text-box--right {
    align-items: flex-end; } }

.testimonials {
  text-align: center;
  padding: 7rem 0; }
  .testimonials__box {
    justify-content: center; }
  .testimonials__card {
    max-width: 34ch;
    padding: 1rem; }
  .testimonials__img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin: 0 auto; }
  .testimonials__text {
    margin: 2.5em auto; }
  .testimonials__name {
    margin: 0 auto 0.3em; }
  @media (max-width: 700px) {
    .testimonials {
      padding: 3rem 0; }
      .testimonials__box {
        flex-direction: column;
        align-items: center; }
      .testimonials__card {
        margin: 1rem auto; }
      .testimonials__text {
        margin: 1em auto; } }

@media (max-width: 700px) {
  .gallery {
    flex-wrap: wrap; }
    .gallery__img-box {
      max-width: 50%; } }

.footer {
  background-color: #91d4c7;
  margin: 0 auto;
  padding: 3em 2em 0 2em;
  justify-content: center;
  align-items: center; }
  .footer__list {
    color: #458c7e;
    justify-content: center;
    padding: 2em 0 3em 0; }
  .footer__item {
    margin: 0 1em; }
  .footer__item:hover {
    color: white; }
  .footer__social {
    color: #25564b;
    font-size: 25px;
    justify-content: center;
    padding: 0 0 1.5em; }
  .footer__icon {
    margin: 0 0.3em; }
  .footer__icon:hover {
    color: white; }
